#one{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    font-style: oblique;
    font-weight: 100;
    padding: 20px;
}
#two{
    color:chartreuse ;
    font-size:medium ;
    font-family:'Times New Roman', Times, serif; 
}
body{
    background:linear-gradient(red,white);
}
#three{
    color:rgb(red, green, blue) ;
    font-size:medium ;
    font-family:'Times New Roman', Times, serif; 
}
body{
    background:linear-gradient(red,white);
}
#four{
    color:rgb(red, green, blue) ;
    font-size:medium ;
    font-family:'Times New Roman', Times, serif; 
    padding: 20px
    ;
    border:2px solid blue;
}
body{
    background:linear-gradient(red,white);
}