h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
justify-content: center;
margin: auto;
}
body{
    background-image: url(flower.jpg); */
    background-size: cover;
    background-attachment: fixed;
}
img{
    width: 700px;
    height: 700px;

}
button{
    padding: 10px;
}
button 1{
    padding:10px;
    

}
   